#nav-footer{
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100vw;
    z-index: 100;
    background-color: white;
    box-shadow: 0px -1px 10px -5px grey ;
    .nav-footer-item{
        height: 100%;
    }
}