.header {
  position: relative;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .back-btn {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: #00C853;
  }
  h1 {
    font-size: "30px";
    color: #00C853;
  }
}